/* Контейнер всего приложения */
.todo {
	max-width: 480px;
	margin: 40px auto;
	padding: 24px 20px;
	border-radius: 12px;
	border-style: solid;
	background-color: #ffffff;
	box-sizing: border-box;
}

.todoAppTitle {
	text-align: center;
}
